<div class="flex justify-content-center">
    <div>
        <div class="field">
            <strong>
                <div class="heading-name flex text-center justify-content-center">
                    Abdulrahim Shaikh
                </div>
                <div class="gap subheading-title text-600 flex justify-content-center">
                    Software Engineer
                </div>
            </strong>
        </div>
        <div class="flex justify-content-center gap gap-3">
            <p-button icon="pi pi-download" severity="secondary" (onClick)="downloadCV()" [outlined]="true" [rounded]="true" label="Download CV"></p-button>
            <p-button icon="pi pi-info-circle" severity="secondary" (onClick)="contactInfo()" [rounded]="true" label="Contact Info"></p-button>
        </div>
    </div>
</div>
