<div>
  <app-navbar></app-navbar>
</div>
<div class="mb-8">
  <app-home></app-home>
</div>
<div class="bg-gray-300 mt-8 pt-8 mb-8 pb-8">
  <app-about></app-about>
</div>
<div class="mt-8 pt-8 mb-8 pb-8">
  <app-experience></app-experience>
</div>
<div class="bg-gray-300 mt-8 pt-8 mb-8 pb-8">
  <app-skills></app-skills>
</div>
<div class="mt-8 pt-8 mb-8 pb-8">
  <app-education></app-education>
</div>
<div class="bg-gray-300 mt-8 pt-8 mb-8 pb-8">
  <app-projects></app-projects>
</div>
<div class="bg-gray-300 mt-8 pt-8 mb-8 pb-8">
  <app-contact></app-contact>
</div>
