<div class="gap2">
    <p-divider align="left">
        <strong>Projects</strong>
    </p-divider>
</div>
<div>
    <div class="grid flex justify-content-center flex-wrap" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="flex justify-content-center flex-wrap gap-7">
            <p-card subheader="Web application - Traffic Intensity prediction and congestion treatment recommendation"
                [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/graph.jpg" />
                </ng-template>
                <div class="flex justify-content-center flex-wrap">
                    <a href="https://github.com/sgtPepper109/2023_MIT_PROJECT.git">
                        <p-button label="GitHub" icon="pi pi-external-link"></p-button>
                    </a>
                </div>
            </p-card>
            <p-card subheader="JWT Implementation with Angular - Spring Boot"
                [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/jwt_card.jpg" />
                </ng-template>
                <div class="flex justify-content-center flex-wrap">
                    <a href="https://github.com/sgtPepper109/spring_auth_server">
                        <p-button label="GitHub" icon="pi pi-external-link"></p-button>
                    </a>
                </div>
            </p-card>
            <p-card subheader="Online Web Chat Application using HTML, CSS, Node.js, JavaScript and MySQL"
                [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/chat.jpg" />
                </ng-template>
                <div class="flex justify-content-center flex-wrap">
                    <a href="https://github.com/sgtPepper109/chat.git">
                        <p-button label="GitHub" icon="pi pi-external-link"></p-button>
                    </a>
                </div>
            </p-card>
        </div>
    </div>
    <div class="grid flex justify-content-center flex-wrap gap-7" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <p-card subheader="Road Detection from Satellite Images using Deep Learning Techniques on HPC Platform"
                [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/roads.jpg" />
                </ng-template>
                <div class="flex justify-content-center flex-wrap">
                    <a href="https://github.com/sgtPepper109/finalProject.git">
                        <p-button label="GitHub" icon="pi pi-external-link"></p-button>
                    </a>
                </div>
            </p-card>
    </div>
</div>
