<div id="about" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="mb-5 flex justify-content-center align-items-center animation-duration-1000 animation-ease-in-out w-full">
    <div style="width: 75%;">
        <div class="relative border-round p-4">
            <div class="about-back static border-round p-4">
                <div class="about-content absolute bottom-0 left-0 border-round p-4">
                    <span class="about-me-text">
                        <strong>
                            About me
                        </strong>
                    </span>
                    <div class="mt-2 mb-2">
                        <div class="separator"></div>
                    </div>
                    <div style="max-width: 600px;">
                        <pre class="about-content">
I am a software developer with experience in various web technologies, programming languages, and SDLC, and I am passionate about using my skills to create innovative and user-friendly applications. My professional journey includes roles at renowned institutions, where I demonstrated adaptability, problem-solving skills, hard-work , and a commitment to continuous learning.
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
