<div id="education" class="grid flex-column lg:flex-row xl:flex-row">
  <div class="col lg-col-8 xl:col-8 mit-image"> </div>
  <div class="col flex flex-column justify-content-center flex-wrap w-full">
    <div class="flex justify-content-center flex-wrap">
      <div>
        <strong class="text-6xl education-text">
          EDUCATION
        </strong>
        <div class="mt-4 mb-4 flex justify-content-center flex-wrap">
            <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="block flex justify-content-center flex-wrap">
      <div class="education-text text-xl">
        MIT World Peace University, India - 2019 to 2023
      </div>
    </div>
    <div class="block pt-2 flex justify-content-center flex-wrap">
      <div class="education-text text-center font-bold text-xl">
        Bachelor of Technology - Computer Science and Technology
      </div>
    </div>
    <div class="block pt-2 flex justify-content-center flex-wrap">
      <div class="education-text text-orange-500 font-bold text-xl">
          CGPA: 8.61 / 10
      </div>
    </div>
  </div>
</div>
