<div>
    <p-divider align="left">
        <strong>Skills</strong>
    </p-divider>
</div>

<div>
    <div style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap">
                <span class="flex gap-3">
                    <i>Angular - Frontend</i>
                    <p-rating [(ngModel)]="angularSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>HTML, CSS</i>
                    <p-rating [(ngModel)]="htmlCssSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Java, Spring Boot, JPA</i>
                    <p-rating [(ngModel)]="javaSpringBootSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>RDBMS - SQL</i>
                    <p-rating [(ngModel)]="rdbmsSqlSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Git, GitHub</i>
                    <p-rating [(ngModel)]="gitGithubSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>APIs - REST, JSON</i>
                    <p-rating [(ngModel)]="apiSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Data Structures and Algorithms</i>
                    <p-rating [(ngModel)]="dsaSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Object Oriented Programming</i>
                    <p-rating [(ngModel)]="oopSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>C/C++</i>
                    <p-rating [(ngModel)]="cppSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Python</i>
                    <p-rating [(ngModel)]="pythonSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
        <div class="grid">
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>SDLC</i>
                    <p-rating [(ngModel)]="sdlcSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
            <div class="col flex justify-content-center flex-wrap gap-3">
                <span class="flex gap-3">
                    <i>Python Data Analysis</i>
                    <p-rating [(ngModel)]="pythonDataAnalysisSkillRating" [readonly]="true" [cancel]="false" [stars]="6"></p-rating>
                </span>
            </div>
        </div>
    </div>
</div>
