<p-fieldset [style]="{ 'background-color': 'black', color: '#cccccc' }">
    <ng-template pTemplate="header">
        <div>
            <span>Summary</span>
        </div>
    </ng-template>
    <pre class="summary-content">
I am a software developer with experience in various programming languages, web technologies, and
SDLC, and I am passionate about using my skills to create innovative and user-friendly applications.
My professional journey includes roles at APSLOG Tech and C-DAC, where I demonstrated
adaptability, problem-solving skills, hard-work , and a commitment to continuous learning.
    </pre>
</p-fieldset>
