<div id="experience" pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="mb-5 flex flex-column justify-content-center align-items-center animation-duration-2000 animation-ease-in-out w-full">
  <div class="experience-heading">
    EXPERIENCE
    <div class="mt-4 mb-4 flex justify-content-center flex-wrap">
        <div class="separator"></div>
    </div>
  </div>
  <div class="pt-4 flex justify-content-center align-content-center flex-wrap gap-6">
    <div class="experience-card border-bottom-3 border-orange-500 pt-4 pb-4 flex flex-column justify-content-center align-content-center flex-wrap w-22rem bg-gray-200">
      <div class="experience2 border-circle h-15rem w-15rem"> </div>
      <div class="pt-4 experience-content flex justify-content-center flex-wrap text-xl">
        <strong>
          C-DAC
        </strong>
      </div>
      <div class="pt-2 experience-content flex justify-content-center flex-wrap text-lg">
        Software Engineering Intern
      </div>
      <div class="experience-content flex justify-content-center flex-wrap text-lg">
        January 2023 to June 2023
      </div>
    </div>
    <div class="experience-card border-bottom-3 border-orange-500 pt-4 pb-4 flex flex-column justify-content-center align-content-center flex-wrap w-22rem bg-gray-200">
      <div class="experience3 border-circle h-15rem w-15rem"> </div>
      <div class="pt-4 experience-content flex justify-content-center flex-wrap text-xl">
        <strong>
          JP Morgan & Chase Co.
        </strong>
      </div>
      <div class="pt-2 experience-content flex justify-content-center flex-wrap text-lg">
        Software Engineer Virtual Intern
      </div>
      <div class="experience-content flex justify-content-center flex-wrap text-lg">
        July 2021 to September 2021
      </div>
    </div>
  </div>
</div>
