<div class="pt-4">
    <p-divider align="left">
        <strong>Experience</strong>
    </p-divider>
</div>
<div>
    <div class="grid" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center">
            <p-avatar image="/assets/apslogtech_logo.jpeg" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
        <div class="col flex">
            <div>
                <div>
                    <strong style="font-size: 17px;">Statistical Software Engineer</strong>
                </div>
                <div>
                    <span class="text-600">
                        <small>APSLOG Tech</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>Jul 2023 - Present {{'\u00B7'}} 11 months</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>Bengaluru, Karnataka, India</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center">
            <p-avatar image="/assets/c_dac_logo.jpeg" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
        <div class="col flex">
            <div>
                <div>
                    <strong style="font-size: 17px;">Centre for Development of Advanced Computing</strong>
                </div>
                <div>
                    <span class="text-600">
                        <small>1 year</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>Pune, Maharashtra, India</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 17px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center align-items-center">
            <i class="pi pi-circle"></i>
        </div>
        <div class="col flex">
            <strong>Statistical Software Engineer</strong>
        </div>
    </div>
    <div class="grid" style="padding-left: 17px; padding-right: 20px;">
        <div class="col-1 flex justify-content-center align-items-center">
            <div class="vl" style="border-left: 1px solid #c9c9c9; height: 100%"></div>
        </div>
        <div class="col flex" style="padding-top: 0;">
            <div>
                <div>
                    <small class="text-600">Jan 2023 - Jun 2023 {{'\u00B7'}} 6 months</small>
                </div>
                <div>
                    <small class="text-600">On-site</small>
                </div>
                <div>
                    <ul>
                        <li>
                            Project Title: 'Web application design and implementation of Traffic Intensity Prediction and possible congestion treatment recommendation'
                        </li>
                        <li>
                            Designed and developed a web application for predicting traffic intensity and recommending congestion treatment strategies.
                        </li>
                        <li>
                            Strengthened proficiency in Angular - HTML, CSS, TypeScript, JavaScript, Java, Spring Boot, Data Science and Full Stack Development
                        </li>
                        <li>
                            Strengthened proficiency in data analysis and web development through Software Development Lifecycle (SDLC) methodologies
                        </li>
                        <li>
                            ensuring seamless progression from requirements gathering through design, development, testing, deployment, and maintenance phases.
                        </li>
                        <li>
                            Demonstrated expertise in Data analysis, full-stack development, problem solving, data structures, machine learning, and research domains
                        </li>
                        <li>
                            Employed version control systems like Git for collaborative development, managing codebase changes, and ensuring project integrity.
                        </li>
                        <li>
                            Expanded knowledge of server-side development, mastering concepts such as routing, middleware, and authentication strategies.
                        </li>
                        <li>
                            Analysed and displayed various kinds of plots and statistics with the use of Echarts, Highcharts and Tableau on the web app.
                        </li>
                        <li>
                            Acquired project management, documentation, plan skills through daily constant mentoring from senior technical officers
                        </li>
                        <li>
                            Executed software testing and proficiently managed code during the development process
                        </li>
                        <li>
                            Cultivated a mindset of adaptability and continuous learning in a fast-paced, evolving technology landscape.
                        </li>
                        <li>
                            <i class="pi pi-link"></i>
                            <a href="https://github.com/sgtPepper109/2023_MIT_PROJECT">
                                https://github.com/sgtPepper109/2023_MIT_PROJECT
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 17px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center align-items-center">
            <i class="pi pi-circle"></i>
        </div>
        <div class="col flex">
            <div>
                <div class="flex">
                    <strong>Lead Research and Development Intern</strong>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 17px; padding-right: 20px;">
        <div class="col-1 flex justify-content-center align-items-center"></div>
        <div class="col flex" style="padding-top: 0;">
            <div>
                <div>
                    <small class="text-600">Jul 2022 - Jan 2023 {{'\u00B7'}} 7 months</small>
                </div>
                <div>
                    <small class="text-600">On-site</small>
                </div>
                <div>
                    <ul>
                        <li>
                            Project Title: ‘Roads extraction from Satellite Images using Deep Learning Techniques on HPC Platform’
                        </li>
                        <li>
                            Implemented deep learning techniques and utilized high-performance computing HPC to successfully extract roads from satellite images
                        </li>
                        <li>
                            Guided and supervised a team of interns to assist in the project's execution.
                        </li>
                        <li>
                            Collaborated with the renowned CDAC PARAM supercomputer to conduct the project.
                        </li>
                        <li>
                            Developed a comprehensive roads dataset, comprising images with corresponding masks.
                        </li>
                        <li>
                            Authored a research paper exploring various algorithms dedicated to addressing the road extraction challenge
                        </li>
                        <li>
                            Python, numpy, pandas, matplotlib, scikit-learn, tensorflow, Research, python environments
                        </li>
                        <li>
                            Attained an impressive accuracy rate of 97% in road extraction.
                        </li>
                        <li>
                            <i class="pi pi-link"></i>
                            <a href="https://github.com/sgtPepper109/finalProject">
                                https://github.com/sgtPepper109/finalProject
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center">
            <p-avatar image="/assets/jpmorganchase_logo.jpeg" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
        <div class="col flex">
            <div>
                <div>
                    <strong style="font-size: 17px;">Software Engineer Intern</strong>
                </div>
                <div>
                    <span style="font-size: 12px;" class="text-600">JPMorgan Chase & Co.</span>
                </div>
                <div>
                    <span class="text-600">
                        <small>Jul 2021 - Sep 2021 {{'\u00B7'}} 3 months</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>Remote</small>
                    </span>
                </div>
                <div>
                    <ul>
                        <li>
                            Interface with a stock price data feed
                        </li>
                        <li>
                            Conducted competitor analysis and market research studies
                        </li>
                        <li>
                            Assisted with the development of project plans and timelines
                        </li>
                        <li>
                            Display data visually for traders
                        </li>
                        <li>
                            Used JPMorgan Chase frameworks and tools
                        </li>
                        <li>
                            Python, Flask, PySpark, numpy, pandas, sklearn, Tableau, Angular, Data Analysis, TypeScript, etc
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
