<div>
    <p-divider align="left">
        <strong>Publications</strong>
    </p-divider>
</div>
<div>
    <div class="grid" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center">
            <p-avatar image="/assets/ijritcc_logo.jpeg" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
        <div class="col flex">
            <div>
                <div>
                    <strong style="font-size: 17px;">Decision-Tree-based Ensemble Learning Models for Long-Term Traffic Intensity Forecasting and Analysis of Congestion Treatment Strategies</strong>
                </div>
                <div>
                    <span class="text-600">
                        <small>International Journal on Recent and Innovation Trends in Computing and Communication (IJRITCC)</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>2023</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid" style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <div class="col-1 flex justify-content-center">
            <p-avatar image="/assets/springer_logo.png" styleClass="mr-2" size="xlarge"></p-avatar>
        </div>
        <div class="col flex">
            <div>
                <div>
                    <strong style="font-size: 17px;">Satellite Image Classification with Deep Learning Model ResNet</strong>
                </div>
                <div>
                    <span class="text-600">
                        <small>Neural Computing and Applications (NCAA) - Springer</small>
                    </span>
                </div>
                <div>
                    <span class="text-600">
                        <small>2022</small>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
